@page
@model IndexModel
@{
  ViewData["Title"] = "Αρχική";
}

<div class="starter-template">
  <h1>Σύστημα ανάθεσης πτυχιακών εργασιών</h1>
  <h2>Τμήμα Μηχανικών Πληροφορικής και Ηλεκτρονικών Συστημάτων</h2>
  <p class="lead">Διεθνές Πανεπιστήμιο της Ελλάδος</p>
</div>
