@page
@model ptyxiaki.Pages.Administration.Categories.CreateModel

@{
  ViewData["Title"] = "Δημιουργία";
}

<h1>@ViewData["Title"]</h1>

<h4>Κατηγορία</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="category.title" class="control-label"></label>
        <input asp-for="category.title" class="form-control" />
        <span asp-validation-for="category.title" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="category.description" class="control-label"></label>
        <textarea asp-for="category.description" class="form-control" rows="7"></textarea>
        <span asp-validation-for="category.description" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Δημιουργία" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-page="Index">Πίσω στις κατηγορίες</a>
</div>
