@page
@model ptyxiaki.Pages.Administration.Semesters.CreateModel

@{
  ViewData["Title"] = "Δημιουργία";
}

<h1>@ViewData["Title"]</h1>

<h4>Εξάμηνο</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="semester.title" class="control-label"></label>
        <input asp-for="semester.title" class="form-control" />
        <span asp-validation-for="semester.title" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Δημιουργία" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-page="Index">Πίσω στα εξάμηνα</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
